<!-- Page Content -->
<div class="container categories">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Interesting articles</h1>
      <%= link_to 'New category', new_users_category_path, class: 'btn btn-success' %>
    </div>
    <div class="col-md-12">
      <div class="bd-example">
        <ul class="list-group">
          <% @categories.each do |category| %>
            <li class="list-group-item">
              <%= category.title %>
              <%= link_to 'Show', users_category_path(category), class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_users_category_path(category), class: 'btn btn-warning' %>
              <%= link_to 'Delete', users_category_path(category), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
