<!-- Page Content -->
<div class="container articles">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4"><%= @category.title %></h1>

      <% @category.articles.decorate.each do |article| %>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= link_to article.title, [:users, article] %></h2>
            <p class="card-text"><%== article.short_description %></p>
          </div>
          <div class="card-footer text-muted">
            <%= article.posted_date %> by <%= article.author %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
