<!-- Page Content -->
<div class="container articles">
	<div class="row">
		<!-- Post Content Column -->
		<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<!-- Title -->
			<h1 class="mt-4"><%= @article.title %></h1>
			<!-- Author -->
			<p class="lead">
				by <%= @article.author %>
			</p>
			<hr>
			<p><%= @article.posted_date %>, <%= link_to 'original article', @article.link, target: :_blank %></p>
			<hr>
			<!-- Post Content -->
				<%== @article.long_description %>
			<hr>
		</div>
    <%= render 'users/articles/sidebar_article', article: @article %>
	</div>
	<!-- /.row -->
</div>
